<div class="container">
    <h1>Дерево подчиненности сотрудников</h1>

    <div class="col-md-6">
        <%= form_tag({controller: "employee", action: "show"}, method: "get") do %>
            <div class="input-group">
                <%= select_tag(:employee_id, options_for_select(Employee.all.map{ |emp| [emp.name, emp.id] }, @user.id), include_blank: "All", class: "custom-select") %>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Построить</button>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-8">
        <ul class="ul-tree" id="tree">
            <li><%= @user.name %>
                <ul  class="ul-drop">
                    <%= @user.render_children(@user) %>
                </ul>
            </li>
        </ul>
    </div>
    <div class="info">
        <span class="a-action lasttreedrophide">скрыть всё</span>,
        <span class="a-action lasttreedropshow">раскрыть всё</span>
    </div>
</div>